.header{
    display: flex;
    justify-content: center;
    column-gap: 70px;
    padding: 20px;
    font-size: 15px;
    background-color: white;
}

.header li{
    list-style-type:none ;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 500;
}
.verse-logo{
    width: 20px;
    height: 20px;
}
a{
     text-decoration:none;
     color: var(--verse-red);
}

a:hover{
    color: rgb(231, 118, 118);
}